body {
  background: #455a64;
  font-family: 'Source Code Pro', monospace;
  padding-top: 80px;
}

.navbar {
  background: rgba(207, 216, 220, 0.92);
  border: none;
  border-radius: 0;
  /*border-bottom: 1px solid #bdbdbd;*/
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
     -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
          box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
}

.navbar-default .navbar-nav > li > a {
  color: #212121;
  font-size: 18px;
  transition: all 0.3s;
  margin: 4px;
  text-align: center;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  background: #ffc107;
  color: #212121;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
  background: #607d8b;
  color: rgb(207, 216, 220);
}

.navbar-default .navbar-right > li > a {
  color: #455a64;
  font-size: 22px;
}

.navbar-default .navbar-right > li > a:hover {
  color: #212121;
  background: transparent;
}

.tooltip-inner {
  max-width: none;
  white-space: nowrap;
}

/*
 *********************
 * About page styles *
 *********************
*/

#about img {
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
     -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
          box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
}

@media (min-width: 480px) and (max-width: 767px) {
  #about img {
    width: 50%;
  }
}

h3 {
  color: #ffc107;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  /*font-weight: 700;*/
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

.skills {
  list-style: none;
  padding: 0;
}

.skills li {
  display: inline-block;
  margin: 20px;
}

.skills i {
  font-size: 5em;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
  /*text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.75);*/
}

.skills span {
  color: #212121;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}